header {
  width: 100%;
  height: 120vh;
  background-image: url(assets/header-image.jpg);
  background-position: center;
  background-size: cover;
}

.header-info {
  width: 550px;
  height: fit-content;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 40%;
  left: 25%;
  animation-name: slideRight;
  animation-duration: 0.8s;
}

.video-section{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 60%;
  left: 25%;
  animation-name: slideRight;
  animation-duration: 0.8s;
  animation-timeline: scroll();
}

.section-batch{
  position: absolute;
  left: 8.5%;
}

@keyframes slideRight{
  0%{
    left: 0%;
  }
  100%{
    left: 25%;
  }
}

header > section > div::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 5rem;
  background: #2B7FFF;
  margin-right: 8px;
  vertical-align: middle;
  border-radius: 8px;
}

.eli-height{
  height: 5rem;
  transition-duration: 1.3s;
}