header {
  width: 100%;
  height: 120vh;
  background: center/cover url(assets/header-image.jpg) no-repeat;
  position: relative;
  overflow: hidden;
}

.delay{
  transition-duration: 0.5s;
}

header > section > div::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 3rem;
  margin-right: 8px;
  vertical-align: middle;
  background-color: #2B7FFF;
  border-radius: 8px;
}

@keyframes slideRight {
  from {
    left: 0%;
  }
  to {
    left: 30%;
  }
}

/* .video-section {
  position: absolute;
  top: 60%;
  left: 25%;
  transform: translate(-50%, -50%);
  animation: slideRight 0.8s ease-out forwards;
  animation-timeline: scroll();
} */

/* .section-batch {
  position: absolute;
  top: 0;
  left: 8.5%;
  animation: slideDown linear;
  animation-timeline: scroll();
  animation-range: 0% 40%;
} */

/* @keyframes slideDown {
  0% {
    top: -5%;
  }
  100% {
    top: 0%;
  }
} */

/* .eli-height {
  height: 5rem;
  transition: height 1.3s ease;
} */
